.sidebar {
  background-color: white;
  color: white;
  padding-top: 45px;
  height: 100%;

  .sidebar__container {
    position: sticky;
    top: 45px
  }

  .searchbar {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
  }
}

.ant-card-head-title {
  white-space: normal;
}
