.sidebar {
  background-color: #444445;
  color: white;
  padding: 15px;
  height: 100%;
}

.searchbar {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
}

.ant-card-head-title {
  white-space: normal;
}
