@import "../util/responsive_css.scss";

.facts-panel {
  font-family: sans-serif;
  max-width: 650px;
  text-align: center;
  font-size: 16px;

  @include mobile {
    max-width: 100%;
  }
}

.facts-panel-header {
  box-sizing: border-box;
  color: #333;
  font-weight: 600;
  font-size: 35px;
  margin: 10px 0 0 0;
  line-height: initial;
}

.facts-panel-subheader {
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
  line-height: 15px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.facts-panel-body {
  padding-top: 20px;
  justify-content: center;

  @include mobile {
    max-width: 500px;
    margin: 0 auto;
  }

  &.serving-selector {
    justify-content: left;
  }

  .serving-selector__selection-row {
    padding-top: 5px;
  }
}

.ant-drawer-content-wrapper {
  width: 100% !important;
}

.facts-panel__button {
  width: 100%;
  background-color: #444445;
  color: whitesmoke;
}
