.select-container {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.searchbar {
  width: 100%;
  font-weight: 400;
}

.highlighted {
  color: #3baae1;
}

.ant-select-item-option-content {
  white-space: normal;
}