.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  color: white;
}

.gray-theme {
  background-color: #444445;
  color: white;
}

.app-footer {
  text-align: center;
  background-color: #444445;
  * {
    color: white;
  }
}

.app-footer-links {
  font-size: 1em;
}

.app-footer-copyright {
  font-size: 80%;
}

.ant-layout-header {
  background-color: whitesmoke;
}

.ant-layout-content {
  background-color: white;
}

.header-logo {
  height: 100%;
  padding-bottom: 3px;
}